﻿@model IEnumerable<shop.Models.Order>

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="page-header">
        <h1>Index</h1>
    </div>
    <p>
        <button type="button" class="btn btn-primary btn-lg btn-block " onclick="location.href='@Url.Action("Create", "OrdersManager")'">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Dodać
        </button>
    </p>

    <table class="table table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Stan.StatusName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Stan.StatusName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.OrderID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.OrderID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.OrderID })
                </td>
            </tr>
        }
    </table>
</div>