﻿@model shop.ViewModels.ShoppingCartViewModel

@{

    ViewBag.Title = "Shopping Cart";

}

<script src="/Scripts/jquery-1.10.2.min.js"
        type="text/javascript"></script>

<script type="text/javascript">

    $(function () {

        // Document.ready -> link up remove event handler

        $(".RemoveLink").click(function () {

            // Get the id from the link

            var recordToDelete = $(this).attr("data-id");

            if (recordToDelete != '') {

                // Perform the ajax post

                $.post("/ShoppingCart/RemoveFromCart", { "id": recordToDelete },

                    function (data) {

                        // Successful requests get here

                        // Update the page elements

                        if (data.BookCount == 0) {

                            $('#row-' + data.DeleteID).fadeOut('slow');

                        } else {

                            $('#book-count-' + data.DeleteID).text(data.BookCount);

                        }

                        $('#cart-total').text(data.CartTotal);

                        $('#update-message').text(data.Message);

                        $('#cart-status').text('Cart (' + data.CartCount + ')');

                    });

            }

        });

    });

</script>



<div class="container">
    <h3>
        <u>
            <em>Review</em> your cart:
        </u>
    </h3>

    <div class="col-xs-6">
        <div id="update-message">
        </div>
        <table class="table">
            <thead class="thead-inverse">
                <tr>
                    <th>Item Name</th>
                    <th>Price (each)</th>
                    <th>Quantity</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var cart in Model.CartBooks)
            {
                    <tr id="row-@cart.RecordID">
                        <td>@Html.ActionLink(cart.Book.Title, "Details", "Home", new { id = cart.BookID }, null) </td>
                        <td>@cart.Book.Price</td>
                        <td id="book-count-@cart.RecordID">@cart.Count</td>
                        <td>
                            <a href="#" class="RemoveLink" data-id="@cart.RecordID">Remove from cart</a>
                        </td>
                    </tr>
                }
            </tbody>
            <tr>
                <td>Total</td>
                <td></td>
                <td></td>
                <td id="cart-total"> @Model.CartTotal</td>
            </tr>
        </table>
    </div>
    <div class="col-xs-6">
        <br /><br />

        <p>Shipping and taxes calculated at checkout</p>
        <p class="button">
            <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("AddressAndPayment", "Checkout")'">
                <span class="glyphicon glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> CHECK OUT ->
            </button>
        </p>
    </div>
</div>