﻿@model IEnumerable<shop.Models.Category>

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="page-header">
        <h1>Index</h1>
    </div>
    <p>
        <button type="button" class="btn btn-primary btn-lg btn-block " onclick="location.href='@Url.Action("Create", "CategoriesManager")'">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Dodać
        </button>
    </p>

    <table class="table table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.CategoryID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.CategoryID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.CategoryID })
                </td>
            </tr>
        }
    </table>
</div>