﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="bootstrap-3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="fancybox/jquery.fancybox.css" type="text/css" media="screen" />
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" style="color:#3C3C3C" href="@Url.Action("Index", "Home")">Book SHOP</a>
            </div>

            <div id="navbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a style="color:#3C3C3C" href="@Url.Action("Index", "Home")">Home</a></li>
                    <li><a style="color:#3C3C3C" href="@Url.Action("Contact", "Home")">CONTACT</a></li>
                    <li><a style="color:#3C3C3C" href="@Url.Action("About", "Home")">ABOUS US</a></li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.Partial("_LoginPartial")</li>
                </ul>
            </div>
        </div>
    </nav>

    @RenderBody()
    <hr />

    <footer class="footer1">
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="copyright">
                            © 2018, PV GR., All rights reserved

                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="design">

                            <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Edit", "Home")'">
                                <span class="glyphicon glyphicon-cd" aria-hidden="true"></span> Edit
                            </button>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="jquery/jquery-1.11.2.min.js"></script>
    <script src="bootstrap-3.3.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="fancybox/jquery.fancybox.pack.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            $("a.fancyimage").fancybox();
        });
    </script>

</body>
</html>
