﻿@model IEnumerable<shop.Models.Book>

@{
    ViewBag.Title = "Index";
}
<div class="container">
    <div class="page-header">
        <h1>Index</h1>
    </div>
    <p>
        <button type="button" class="btn btn-primary btn-lg btn-block " onclick="location.href='@Url.Action("Create", "BooksManager")'">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Dodać
        </button>
    </p>

    <table class="table table-striped">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Category.CategoryName)</th>
            <th>@Html.DisplayNameFor(model => model.Title)</th>
            <th>@Html.DisplayNameFor(model => model.Author)</th>
            <th>@Html.DisplayNameFor(model => model.Price)</th>
            <th>@Html.DisplayNameFor(model => model.Description)</th>
            <th>@Html.DisplayNameFor(model => model.ItemArtUrl)</th>
            <th></th>
        </tr>

        @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemArtUrl)
                </td>
                <td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
                </td>
            </tr>
        }
    </table>
</div>