﻿@{
    ViewBag.Title = "About";
}

<div id="myCarousel" class="carousel slide">
    <div class="carousel-inner">
        <div class="item active">
            <img src="~/Content/Images/index-ebo.png" style="width:100%" class="img-responsive">
            <div class="container">
                <div class="carousel-caption" style="padding-bottom:220px">
                    <div class="row">
                        <div class="row">
                            <div class="col-md-8">
                                <h2 style="color:#3C3C3C">About Us ...</h2>
                                <h4 style="color:#3C3C3C">
                                    Some people like to read on a screen. Other people need the variety and artistry, the sight, smell, and feel of actual books.They love seeing them on their shelves; they love having shelves for them.
                                    They want to read in a way that offers a rich experience, more than the words only: the full offering of a book. They are particular about covers, they want to surround themselves with the poetry of good design.
                                    These are the people we're working for.
                                </h4>
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>