﻿@model shop.Models.Book

@{
    ViewBag.Title = "Details";
}

<div class="container">
    <center>
        <h2><u>BOOKS</u></h2>
    </center>
    <div class="row">
        <div class="col-xs-6">
            <div class="text-center">
                <img class="img-rounded" src="@Model.ItemArtUrl" alt="Generic placeholder image" width="450" height="500">
            </div>
            <div class="row">
                <div class="col-md-4 thumb">
                    <center>
                        <a class="fancyimage" rel="group" href="@Model.ItemArtUrl_1">
                            <img class="img-responsive" src="@Model.ItemArtUrl_1" />
                        </a>
                    </center>
                </div>
                <div class="col-md-4 thumb">
                    <center>
                        <a class="fancyimage" rel="group" href="@Model.ItemArtUrl_2">
                            <img class="img-responsive" src="@Model.ItemArtUrl_2" />
                        </a>
                    </center>
                </div>
            </div>
        </div>

        <div class="col-xs-6">
            <center>
                <h2>@Model.Author</h2>
                <h4>@Model.Title</h4>
                <h4>@Model.Price $</h4>

                <button type="button" class="btn btn-info" onclick="location.href='@Url.Action("AddToCart", "ShoppingCart", new { id = Model.ID })'">
                    <span class="glyphicon glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Add to cart
                </button>
                <h4>___________________</h4>
                <h4>@Model.Description</h4>
            </center>
        </div>
    </div>
</div>