﻿
@{
    ViewBag.Title = "Edit";
}
<div class="container">
    <h2>Edit</h2>
    <ul>
        <li>
            <a href="~/BooksManager/Index">Books</a>
        </li>
        <li>
            <a href="~/CategoriesManager/Index">Categories</a>
        </li>
        <li>
            <a href="~/OrdersManager/Index">Orders</a>
        </li>
        <li>
            <a href="~/UsersManager/Index">Users</a>
        </li>
    </ul>
</div>