﻿@model IEnumerable<shop.Models.Category>

@{
    ViewBag.Title = "Shop";
}

<div id="myCarousel" class="carousel slide">
    <div class="carousel-inner">
        <div class="item active">
            <img src="~/Content/Images/index_sl.png" style="width:100%" class="img-responsive">
            <div class="container">
                <div class="carousel-caption" style="padding-bottom:150px">
                    <div class="row">
                        <div class="col-md-9 col-md-push-3">

                        </div>
                        <div class="col-md-3 col-md-pull-9 ">
                            <ul class="list-group">
                                @foreach (var category in Model)
                                {
                                    <li class="list-group-item list-group-item-dark">@Html.ActionLink(category.CategoryName, "SelectCategory", new { category = category.CategoryName })</li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br /><br /><br />
<div class="container">
    <center>

        @using (Html.BeginForm("Search", "Home", FormMethod.Get))
        {
            <b>Search By: </b>
            <button type="button" class="btn btn-secondary">
                @Html.RadioButton("searchBy", "Author", true) <text>Author</text>
            </button>
            @Html.RadioButton("searchBy", "Title") <text>Title</text>
            @Html.RadioButton("searchBy", "Description") <text>Description</text>
            @Html.RadioButton("searchBy", "Image") <text>Image Exists</text>
            @Html.RadioButton("searchBy", "Price>") <text>Price is equal or higher </text>
            @Html.RadioButton("searchBy", "Price<") <text>Price is equal or lower </text>
            <br />
            @Html.TextBox("search") <input type="submit" value="Search" />
        }
    </center>
    <br /><br /><br />
    <center>
        <p>Total Number of visitors: @ApplicationInstance.Application["Totaluser"]</p>
    </center>
</div>