﻿@model IEnumerable<shop.Models.Book>
@{
    ViewBag.Title = "Search";
}

<div class="container">
    <h2>Results</h2>
    @if (Model.Count() == 0)
    {
        <div class="alert alert-danger" role="alert">
            <h3>We are sorry, but no rows match search criteria</h3>
        </div>

    }
    else
    {
        <div class="row" style="margin-top:50px;">
            @foreach (var book in Model)
            {
                <div class="col-xs-3 vcenter">
                    <center>
                        <img class="img-rounded" src="@book.ItemArtUrl" alt="Generic placeholder image" width="140" height="140">
                    </center>
                    <h4> Autor: @book.Author</h4>
                    <h4>Title: @book.Title</h4>
                    <h4>Price: @book.Price $</h4>
                    <p><a class="btn btn-default" href="@Url.Action("Details", new { id = book.ID })" role="button">View details &raquo;</a></p>
                </div>
            }
        </div>
    }
</div>