﻿@model shop.Models.Category

@{
    ViewBag.Title = "SelectCategory";
}

<div class="container">
    <center>
        <h2><u> Category: @Model.CategoryName</u></h2>
    </center>
    @Html.ActionLink("Generate PDF", "PDF", new { category = Model.CategoryName })

    <div class="row" style="margin-top:50px;">
        @foreach (var book in Model.Books)
            {
            <div class="col-xs-3 vcenter">
                <center>
                    <img class="img-rounded" src="@book.ItemArtUrl" alt="Generic placeholder image" width="140" height="140">
                </center>
                <h4> Autor: @book.Author</h4>
                <h4>Title: @book.Title</h4>
                <h4>Price: @book.Price $</h4>
                <p><a class="btn btn-default" href="@Url.Action("Details", new { id = book.ID })" role="button">View details &raquo;</a></p>
            </div>
        }
    </div>
</div>