﻿@model shop.Models.Category

@{
    ViewBag.Title = "SelectCategory";
}

<h2>Category: @Model.CategoryName</h2>



<table class="table">
    <tr>
        <th>
            Image
        </th>
        <th>
            Title
        </th>
        <th>
            Author
        </th>
        <th>
            Price
        </th>
    </tr>

    @foreach (var item in Model.Books)
    {
        <tr>
            <td>
                <img class="img-rounded" src="@item.ItemArtUrl" alt="Generic placeholder image" width="140" height="140">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td> 
        </tr>
    }

</table>
