﻿@model int
@{
    ViewBag.Title = "Checkout Complete";
}

<div class="container">
    <center>
        <h2>Checkout Complete</h2>
        <p>Thanks for your order! Your order number is: @Model</p>
        <p>
            How about shopping for some more Products in our
            @Html.ActionLink("store", "Index", "Home");
        </p>
    </center>
</div>
